.background
{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png ");
    height: 500px;
    width: 400px;
    background-size: cover;
}
.hello
{
    font-family:  serif;
    color: white;
}
.heading
{
    font-style: Roboto;
    color:white;
}