.background
{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png ");
    height: 500px;
    width: 400px;
    background-size: cover;
}
.hello
{
    font-family:  serif;
    color:palegoldenrod;
}
.heading
{
    color:white;
}
.platinum
{
    background-color: black;
    background-size: 50px;
    border-radius: 10px;
    border-color: aqua;
    margin: 30px;
    padding: 20px;

}
.get
{
    font-family: Roboto;
    color:white;
}
.book
{
    font-family: sans-serif;
    padding: 20px;
}
.put
{
    border-width: 1px;
    border-radius: 5px;
    margin-right:100px;
}
