.bg
{
    background-color:blue;
    height:100vh;
    padding: 24px;
}
.card
{
    background-color: white;
    height:300px;
    width:400px;
    border-style:solid;
    border-radius:8px;
    margin-top:45px;
}
.hello
{
    margin-right: 20px;
    border-style:solid;
    width:250px;
    border-color:blue;
    margin-top: 15px;
}
.labelText
{
    width:90%;
}
.todo.item
{
    border-style:solid;
    border-radius:3px;
    border-width:1px;
    background-color:lightgreen;
}
